
body{
  background-color: lightseagreen;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main-list-box{
  margin-top: 5%;
  min-height: 300px;
  padding: 0px;
  background-color: transparent;
}

.todos-list{
  padding: 0px;
  list-style: none;
}
.todo-item{
  background-color: #ffff;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
font-size: 16px;
font-weight: 400;
line-height: 22px;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
-ms-grid-row-align: center;
align-items: center;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
width: 100%;
display: inline-block;
word-wrap: break-word;
}
.todo-item-body{
    width: 95%;
    padding: 20px;
}
.todo-item-body:hover{
 cursor: hand;
}

.todo-item-body p{
  display: inline-block;
}
.actions-container{
  float: right;
  padding: 25px 20px;
  width: 5%;
}

.todo-item:hover{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.todo-item span{
  display: none;
}
.todo-item i{
  font-size: 16px;
  padding-left: 5px;
}
.todo-item:hover .delete-item,.todo-item:hover .edit-item {
display: block;
    z-index: 999;
}

.delete-item:hover{
  color: red;
}

.edit-item:hover{
  color: lightseagreen;
}

.todo-head {
  text-align: center;
  background: transparent;
}

.todo-head .title{
font-size: 16px;
font-weight: 500;
line-height: 30px;
}
.add-item-box{
  text-align: center;
  padding: 10px 0px;
}
#add-item{
  background: #fff;
    border: solid 2px transparent;
  width: 100%;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
padding: 10px;
outline:0;
border-radius: 3px;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

#add-item:hover{
  color: lightseagreen;
  outline:0;
  border-color: lightseagreen;
}

.add-item-form-box{
  background-color: #ffff;
  border-radius: 3px;
  display: none;
}
.add-item-form .item-title{
  display: inline-block;
    margin: 2% 0 2% 8.5%;
    width: 80%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background: transparent;
    color: #323232;
    text-overflow: ellipsis;
    font-weight: 700;
}

.add-item-form .item-description{
  display: block;
  position: relative;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  border: none;
  outline: none;
  resize: none;
  z-index: 0;
  line-height: 1.7em;
  width: 80%;
  padding: 5px;
  height: 80px;
  border-radius: 2px;
  margin: 0 8% 0 9%;
}


.add-item-form .item-title:focus, .add-item-form .item-description:focus{
background-color: #cccccc;
background: #cccccc;
color: #444;
}

.save-item-btn-box{
  height: 50px;
  padding: 10px 20px;
}
.save-item-btn{
  color: #ffff;
  background-color:  lightseagreen;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 5px;
}
.save-item-btn:hover{
  background-color:  #0ca29a;
}
.validation-text{
  display: none;
  color: red;
  padding: 2px 0px 0px 53px;
}
.show{
  display: block;
}
#editModel{
  margin-top: 5%;
}
